body {
    
    color: white;
}

img {
    width: 140;
    border-radius: 10px;
}

.txt-size-60 {
    font-size: 60px;
}

.txt-size-50 {
    font-size: 50px;
}

.txt-size-40 {
    font-size: 40px;
}

.txt-size-30 {
    font-size: 30px;
}

.chelsea {
    font-size: 20px;
    color: #034694;
}

.wrap {
    display: flex;
    margin: 10 auto;
    padding: 10 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    position: center;
    background-color: black;
    border-radius: 20px;
}

.title {
    /* padding-left: 20px; */
    font-size: 40px;

}

.container {
    padding: 2px 16px;
}

.bio {
    padding-left: 20px;
}


