
    a { color: #000000;}

    #but a{ 
                border: none; 
                border-radius: 8px;
                padding: 7px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
                background-color: #0423aa;
                color: #fff; 
               
            }
            #but a:hover {background-color: #0e04aa;}

    #edu {
            border-collapse: collapse;

         }



    #edu td, #edu th {
                        border: 1px solid #ddd;
                        padding: 8px;
                    }

    #edu tr:nth-child(even){background-color: #f2f2f2a4;}

    #edu tr:hover {background-color: #ddddddbe;}

    #edu th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0423aa;
                color: white;
            }
    #multimedia ul{
                 list-style-type: none;
    }
    #multimedia {
        border-collapse: collapse;

     }


    #multimedia td {
                    border: none;
                    padding: 8px;
                    text-align: center;
                }



