* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    position: relative;
    min-height: 100vh;
}

input {
    margin: 0.3rem;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    height: 1.7rem;
}

textarea {
    margin: 0.3rem;
    border: 0.5px solid #ccc;
    border-radius: 10px;    
}




.wrap-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

.wrap-card a, .wrap-title a {
    color: #25255c;
    text-decoration: none;  
}

.wrap-card a:hover , .wrap-title a:hover {
    color: #d17bd9;
}

.wrap-intro {
    display: flex;
    justify-content: center;
}


.container {
    padding: 0.2rem 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    border-radius: 10px;
    border: 0.5px solid rgba(0,0,0,0.2);
    background-color: #fff;
}

.card-input {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 0.5px solid rgba(0,0,0,0.2);
    background-color: #fff;
}

.card-input p {
    font-size: 1.1rem;
}



.card_title {
    font-size: 1rem;
    font-weight: bold;
    height: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.card img , .card_page img {
    width: auto;
    height: 20vh;
    display:block;
    margin: auto;
}

.card_content { 
    font-size: 14px;
    height: 80px;
    text-align: justify;
}


.card_footer a, .card-input a , .but { 
    /* float: center; */
    color: #f2f2f2;
    text-align: center;
    padding: 7px 12px;
    text-decoration: none;
    font-size: 17px;
    background-color: #25255c;
    margin:10px;
    display: block;
    border-radius: 7px;
}

.card_footer a:hover {
    background-color: #ddd;
    color: black;
  }

.card_footer a::after {
    content: "\2192";
}

.card_footer {
    width: 100%;
    
}

.card a::after {
    content: "\2192";
}

.intro-td {
    vertical-align: super;
    font-size: 0,9rem;
    text-align: justify;
}

.input-img {
        /* display: none; */
        cursor: pointer;
        border: 1px solid black;
      
}

.main_nav {
    
    background-color: #333;
    width: 100%;
    position: static;
    left: 0;
    right: 0;
    top: 0;
}

.main_nav a {
    float: left;
    color: #f2f2f2;
    /* text-align: center; */
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    
    margin:10px;
    
}

.main_nav p {
    float: right;
    color: #f2f2f2;
    /* text-align: center; */
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;    
    margin:10px;
    
}

.main_nav a:hover {
    background-color: #ddd;
    color: black;
  }


.main_footer {
        
    background-color: #333;
    display:flex;
    justify-content: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
      
}

.main_footer a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
   
    margin:5px;
    
}

.main_footer a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }

.m-1 {
    margin: 1rem;
}

.m-t-b-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-t-b-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.p-t-b-1 {
    padding: 1rem 1rem;
}

.p-l-1  {
    padding-left: 1rem;
}