* {
    font-family: 'Poppins', sans-serif;
    padding: 2px 16px;
    color: #000000;
}

body {
    background-image: url(../images/bg.jpg);
}

.opening {

    text-align: center;
    width: 100%;
    

}

.opening h1 {
    font-size: 30
}

.opening h1, p {
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: 20px ;
    background-color: #fff;
    border-radius: 10px;
    border: 0.5px solid #fff;
    padding: 2px 16px;
}

.card h2 {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    height: 80px;
}

.card img {
    width: 150px;
    margin: auto;
    display: block;
    background-color: #fff;
    height: 150px;
    /* padding: 0; */
}

.card p {
    font-size: 12px;
    text-align: justify;
    padding: 10;
    color:#000000;
    font-weight: bold;
    height: 180px;
    


}

.but {
    background-color: #128fdc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
}

/* 
.container {
    padding: 2px 16px;
} */

 .wrap {
    display:flex;
   
 }

